<h2>{{ "Items of shopping list planned for" | translate: "shopping" }}</h2>
<div class="button-row">
    <span class="filler"></span>
    <button mat-mini-fab color="primary" (click)="back()">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>

<!-- ITEM EDITOR -->
<div>
    <form [formGroup]="itemForm">
        <mat-form-field style="width: 100%;">
            <mat-label>{{ "Item name" | translate:"shopping" }}</mat-label>
            <input matInput type="text" placeholder="{{ 'Item name' | translate:'shopping' }}" formControlName="name"
                required>
            <mat-error *ngIf="name.errors && name.errors.required && itemForm.touched">
                {{ "Item name is required" | translate:"shopping" }}</mat-error>
        </mat-form-field>

        <mat-form-field style="width: 100%;">
            <mat-label>{{ "Amount" | translate:"shopping" }}</mat-label>
            <input matInput type="number" placeholder="{{ 'Amount' | translate:'shopping' }}" formControlName="amount"
                required>
            <mat-error *ngIf="amount.errors && amount.errors.required && itemForm.touched">
                {{ "Amound is required" | translate:"shopping" }}</mat-error>
        </mat-form-field>
        <div style="display: flex;">
            <span class="filler"></span>
            <button [disabled]="itemForm.invalid || !itemForm.touched" mat-mini-fab color="primary" (click)="createOrUpdateItem(activeItem)">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </form>
</div>

<!-- TABLE OVERVIEW -->
<div>
    <table>
        <table mat-table [dataSource]="items">

            <!-- ITEM NAME -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>{{ "Item" | translate:"shopping" }}</th>
                <td mat-cell *matCellDef="let item">{{ item.name }}</td>
            </ng-container>

            <!-- AMOUNT -->
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>{{ "Amount" | translate:"shopping" }}</th>
                <td mat-cell *matCellDef="let item">{{ item.amount }}</td>
            </ng-container>

            <!-- actions -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let item">
                    <button mat-mini-fab color="primary" (click)="editItem(item)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" (click)="deleteItem(item)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsItem"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsItem;"></tr>
        </table>
    </table>
</div>