<h1 mat-dialog-title>{{ "Shopping list" | translate:"shopping" }}</h1>
<div>
    <form [formGroup]="shoppingListForm">
        <!-- DONE -->
        <p>
            <mat-checkbox formControlName="done">{{ "done" | translate: "shopping" }}</mat-checkbox>
        </p>

        <!-- PLANNED FOR -->
        <mat-form-field style="width: 100%;">
            <input matInput [matDatepicker]="picker" placeholder="{{ 'Choose a date' | translate: 'shopping' }}"
                [formControl]="plannedFor" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>

        <!-- BELONGS TO -->
        <mat-form-field style="width: 100%;">
            <mat-label>{{ "Belongs to" | translate: "shopping" }}</mat-label>
            <mat-select [formControl]="belongsTo" required>
                <mat-option *ngFor="let group of groups" [value]="group.id">
                    {{ group.name }}
                </mat-option>
            </mat-select>
        <mat-hint>{{ "You have to choose a group to which the shoppinglist belongs. Only the creator and members of this
            group can see this list." | translate: "shopping" }}</mat-hint>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions style="padding-top: 2rem;">
    <button mat-button (click)="cancel()">{{ "Cancel" | translate:"shopping" }}</button>
    <button mat-button [mat-dialog-close]="shoppingList"
        [disabled]="shoppingListForm.invalid">{{ "Save" | translate:"shopping" }}</button>
</div>