<div class="sidenav-container" [class.sidenav-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="sidenav-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="half-filler"></span>
    <a routerLink="">
      <img class="responsive-image" style="width: 6rem; padding-top: 0.5rem;" src="assets/img/logo_jarvis.svg">
    </a>
    <span class="half-filler"></span>
    <a mat-button routerLink="signin">
      {{ "Sign in" | translate }}
    </a>
    <!-- <a mat-button routerLink="">
      {{ "Sign out" | translate }}
    </a> -->
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">

      <mat-nav-list>
        <button mat-button [matMenuTriggerFor]="menu">
          {{ "Shopping list" | translate}}
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a routerLink="shoppinglists/current" mat-menu-item>{{ "Current" | translate }}</a>
          <a routerLink="shoppinglists/all" mat-menu-item>{{ "All lists" | translate }}</a>
        </mat-menu>
        <a mat-list-item routerLink="usergroups">{{ "User groups" | translate}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>