<div class="sidenav-container" [class.sidenav-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="sidenav-toolbar">
    <button mat-icon-button (click)="snav.toggle()" *ngIf="authService.isAuthenticated && mobileQuery.matches">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="half-filler"></span>
    <a routerLink="">
      <img class="responsive-image" style="width: 6rem; padding-top: 0.5rem;" src="assets/img/logo_jarvis.svg">
    </a>
    <span class="half-filler"></span>
    <a mat-button routerLink="signin" *ngIf="!authService.isAuthenticated">
      {{ "Sign in" | translate }}
    </a>
    <button mat-button (click)="logout()" *ngIf="authService.isAuthenticated">
      {{ "Sign out" | translate }}
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [opened]="!mobileQuery.matches" 
      [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">

      <mat-nav-list>
        <div>

          <button mat-button [matMenuTriggerFor]="shoppingListMenu">
            {{ "Shopping lists" | translate}}
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #shoppingListMenu="matMenu">
            <a routerLink="shoppinglists/current" mat-menu-item>{{ "Current" | translate }}</a>
            <a routerLink="shoppinglists/all" mat-menu-item>{{ "All lists" | translate }}</a>
          </mat-menu>
        </div>

        <div>
          <button mat-button [matMenuTriggerFor]="userGroupMenu">
            {{ "User groups" | translate}}
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #userGroupMenu="matMenu">
            <a mat-menu-item routerLink="usergroups/management">{{ "Management" | translate}}</a>
            <a mat-menu-item routerLink="usergroups/membership">{{ "Membership" | translate}}</a>
          </mat-menu>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>