<h2>{{ "Sign in to your account" | translate:"account"}}</h2>
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
        <mat-form-field style="width: 100%;">
            <mat-label>{{ "E-Mail" | translate:"account" }}</mat-label>
            <input matInput type="email" placeholder="{{ 'E-Mail' | translate:'account' }}" formControlName="email"
                required>
            <mat-error *ngIf="email.errors && email.errors.required">{{ "E-Mail is required" | translate:"account" }}
            </mat-error>
            <mat-error *ngIf="email.errors && email.errors.email">{{ "Invalid E-Mail" | translate:"account" }}
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field style="width: 100%;">
            <mat-label>{{ "Password" | translate:"account" }}</mat-label>
            <input matInput type="password" placeholder="{{ 'Password' | translate:'account' }}"
                formControlName="password" required>
            <mat-error *ngIf="password.errors && password.errors.required">
                {{ "Password is required" | translate:"account" }}</mat-error>
        </mat-form-field>
    </div>
    <div style="display: flex;">
        <span class="filler"></span>
        <button [disabled]="loginForm.invalid" type="submit" mat-flat-button
            color="primary">{{ "Submit" | translate:"account" }}</button>
    </div>
    <div style="display: flex;">
        <span class="half-filler"></span>
        <mat-error *ngIf="loginFailed">{{ "Authentication failed" | translate:"account" }}</mat-error>
    </div>

    <mat-divider style="margin: 2rem 0rem;"></mat-divider>

    <!-- GITHUB -->
    <div style="display: flex;">
        <span class="half-filler"></span>
        <button mat-button (click)="loginGithub()" type="button">
            {{ "Or sign in by" | translate:"account" }} <img src="assets/img/GitHub-Mark-32px.png" alt="Github">
        </button>
    </div>
</form>