<mat-tab-group>
    <!-- Created invitations -->
    <mat-tab label="{{ 'Created invitations' | translate:'account' }}">
        <div *ngIf="memberships && memberships.created_invitations && memberships.created_invitations.length">
            <table mat-table [dataSource]="memberships.created_invitations">
                <!-- invitee name -->
                <ng-container matColumnDef="inviteeName">
                    <th mat-header-cell *matHeaderCellDef>{{ "Invitee name" | translate:"account" }}</th>
                    <td mat-cell *matCellDef="let invitation">{{ invitation.inviteeName }}</td>
                </ng-container>

                <!-- invited into -->
                <ng-container matColumnDef="invitedInto">
                    <th mat-header-cell *matHeaderCellDef>{{ "Invited into" | translate:"account" }}</th>
                    <td mat-cell *matCellDef="let invitation">{{ invitation.groupId }}</td>
                </ng-container>

                <!-- actions -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let invitation">
                        <button mat-mini-fab color="warn" (click)="deleteInvitation(invitation)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsCreatedInvitation"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsCreatedInvitation;"></tr>
            </table>
        </div>
    </mat-tab>

    <!-- Received invitations -->
    <mat-tab label="{{ 'Received invitations' | translate:'account' }}">
        <div *ngIf="memberships && memberships.received_invitations && memberships.received_invitations.length">
            <table mat-table [dataSource]="memberships.received_invitations">
                <!-- host name -->
                <ng-container matColumnDef="hostName">
                    <th mat-header-cell *matHeaderCellDef>{{ "Host name" | translate:"account" }}</th>
                    <td mat-cell *matCellDef="let invitation">{{ invitation.inviteeName }}</td>
                </ng-container>

                <!-- invited into -->
                <ng-container matColumnDef="invitedInto">
                    <th mat-header-cell *matHeaderCellDef>{{ "Invited into" | translate:"account" }}</th>
                    <td mat-cell *matCellDef="let invitation">{{ invitation.groupId }}</td>
                </ng-container>

                <!-- actions -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let invitation">
                        <button mat-mini-fab color="warn" (click)="deleteInvitation(invitation)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsReceivedInvitation"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsReceivedInvitation;"></tr>
            </table>
        </div>
    </mat-tab>

    <!-- Group Memberships -->
    <mat-tab label="{{ 'Group memberships' | translate:'account' }}">
        <div *ngIf="memberships && memberships.memberships && memberships.memberships.length">
            <table mat-table [dataSource]="memberships.memberships">
                <!-- Member of -->
                <ng-container matColumnDef="userGroup">
                    <th mat-header-cell *matHeaderCellDef>{{ "Member of" | translate:"account" }}</th>
                    <td mat-cell *matCellDef="let userGroup">{{ userGroup.name }}</td>
                </ng-container>

                <!-- actions -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let userGroup">
                        <button mat-mini-fab color="warn" (click)="leaveGroup(userGroup)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsMembership"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsMembership;"></tr>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>

<div style="padding-top: 2rem;">
    <button mat-raised-button color="primary">{{ "New invitation" | translate:"account"}}</button>
</div>